.project-bg{
  background-image: url('../../../image/Footer-Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
 padding-bottom: 100px;
}

.row{
   width:  1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    padding: 50px;
    margin-left: 60px;
    
}
  
.row .box{
  width: 350px;
  height: 350px;
  background: #000;
  background-position: top;
  transition: ease-in-out 8s;
  }
  
.row .box.box1{
      background-size: cover;
  
  }
  
  .row .box:hover{
      background-position: bottom;
  }
  
  .row .box.box2{
      background-size: cover;
  
  }
  
  .row .box:hover{
      background-position: bottom;
  }
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin-left: 25px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This row is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box row */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 280px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
 
}

/* Style the back side */
.flip-card-back {
 background-color: transparent;
  transform: rotateY(180deg);
}
.flip-card-front p{
color: rgb(194, 191, 191);
font-size: small;
}

.subtitle{
  color: rgb(241, 189, 57);
}
.func{
  text-align: start;
  margin-left: 75px;
}
.tool{
  text-align: center;
margin-top: 5px;
 
}

.tools{
  color: rgb(252, 239, 216);
 background-color: transparent;
  padding: 5px 10px;
  margin-bottom: 2px;
  border-radius: 30%;
  font-weight: 500;
  font-size: 13px;
  margin-left: 10px ;
  
}

.projects-pic{
  margin-left: 20px;
  width: 400px;
  height: 400px;
  margin-top: 50px;
}

/* media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .row{
      width: 100%;
       grid-template-columns: repeat(1,1fr);
       padding: 50px 0px;
       margin: auto;
       margin-left: 0 ;
  }
  .row .box{
    width: 300px;
    height: 300px;
    margin: auto;
    }
    .flip-card {
      margin-left: 0px;
    margin: auto; 
    }
}

/* Tablet screen */
@media only screen and (min-width:689px) and (max-width:992px) {
  .row{
    width:  100%;
     grid-template-columns: repeat(1,1fr);
     margin: auto;
     padding: auto;
     text-align: center;
}
.row .box{
  width: 400px;
  height: 400px;
  margin: auto;
  }
  .flip-card {
    margin-left: 0px;
  margin: auto;
    width: 300px;
    height: 200px;
   
   
  }
}