@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

 .home-bg{    
  height: 700px;
  width: 100%;
  max-width: 1366px;
  place-items: center;
  background-image:  url('../../image/flat-lay-workstation-with-copy-space-laptop_23-2148430879.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} 
.header-name{
    color: #fff;
  margin-bottom: 100px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 35px;
}
.rest-part{
    color: rgb(241, 102, 241);
}

/* neon button start  */
.button-cm a{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
 
}
.button-cm a:hover{
  background: white;
  color: #050801;
  box-shadow: 0 0 5px white,
              0 0 25px white,
              0 0 50px white,
              0 0 200px white;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.button-cm a:nth-child(1){
  filter: hue-rotate(270deg);
}
.button-cm a:nth-child(2){
  filter: hue-rotate(110deg);
}
.button-cm a span{
  position: absolute;
  display: block;
}
.button-cm a span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,white);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.button-cm a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,white);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.button-cm a span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,white);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
.button-cm a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,white);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}

/* neon button end */

.wrapper{
    margin: 50px 0px 0 50px;
}
.wrapper .button{
  height: 60px;
  width: 60px;
  margin: 10px 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor:pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  color: rgba(184, 33, 184, 0.87);
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #f12424;
}
.wrapper .button:nth-child(6):hover .icon{
  background: #097e09;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
.wrapper .button:nth-child(6) span{
   color: #097e09;
}

.caption{
    margin: 230px 0 0 10px ;
}
.caption-header{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 45px;
    margin-left: 50px;
}
.typewrite{
    color: rgb(242, 184, 40);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 55px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.caption a{
    margin-left: 50px;
    font-size: 20px;
    text-decoration: none; 
}

/* media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home-bg{    
    height: 880px;
    width: 100%;
  }
  .wrapper .button{
    display: inline-block;
    height: 50px;
    width: 50px;
  }
  .wrapper .button .icon{
    height: 50px;
    width: 50px;
  }
  .caption{
    margin: 50px 0 0 10px ;
}
.header-name{
margin-bottom: 50px;
}
}