.about-bg{
    /* background-image: url('../../../image/gradient-black-background-with-wavy-lines_23-2149150615.jpg'); */
    background-image: radial-gradient(rgba(60, 60, 60, 0.877), rgb(24, 24, 24));
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
.about-header{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 50px;
    padding-bottom: 5px;
    padding-top: 30px;
}
.about-who{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: rgba(223, 47, 223, 0.87);
}
.profile-pic{
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.horizontal-line{
width: 12%;
text-align: center;
margin: auto;
color: goldenrod;
margin-bottom: 20px;
}
.about-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.typewrite-about{
    color: rgb(242, 184, 40);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: start;
   
}
.about-text-header{
    text-align: start;
    margin-left: 100px;
}
.about-text{
    width: 80%;
    text-align: start;
    margin-left: 100px;
    color: rgb(172, 166, 166);
    font-weight: 500;
}

/* media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about-section{
        display: inline;
      margin: auto;
    }
    .profile-pic{
        width: 350px;
        height: 360px;
        margin: auto;
        margin-bottom: 40px;
        margin-top: 40px; 
    }
    .about-text-header{
        margin: auto;
        margin-left: 40px;
    }
    .about-text{
        width: 80%;
        margin: auto;
        padding-bottom: 40px; 
        color: rgb(223, 220, 220); 
        font-weight: 500;
    }
}